@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    font-family: 'Reem Kufi', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;

}

.btn {
    border: 0px;
    padding: 0px;
}

.navbar {
    font-size: 3vh;
    background-color: #05540B;
}


a.navbar-brand {
    font-size: 4vh;

}

a:hover {
    text-decoration: underline;
}

.selected {
    text-decoration: underline;

}

#side {
    background-color: rgba(33, 37, 41, 0.9);
    height: 100vh;
    width: 0vw;
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.5s ease-in-out;

}

#side a {
    display: block;
    padding: 5px;
    text-align: center;

}

a {
    border-top-width: 0px;
}

.bi-x {
    font-size: 50px;
}

#side-section {
    padding-top: 5vw;
}

body {
    background-color: #EBEBEB;
}


.col1 {
    background-color: #282727;
    min-height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;


}

.col2 {
    background-color: #EBEBEB;
    min-height: 70vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border-radius: 25px;
    padding: 5%;
}

.col3 {
    background-color: #EBEBEB;
    min-height: 70vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border-radius: 25px;
    padding: 0;

}

.col4 {
    padding-top: 5%;
    padding-right: 0;
    text-align: center;
}

.col5 {
    background-image: url(/images/burger.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 25px 25px 0;
    min-height: 70vh;
    padding-top: 2vw;
}

.col6 {
    padding-top: 5%;
}

.col7 {
    padding-top: 5%;
    padding-right: 0;
}

.col8 {
    background-image: url(/images/bar.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 25px 25px 0;
    min-height: 70vh;
    padding-top: 2vw;
    

}

.col9 {

    background-color: #282727;
    min-height: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    border-radius: 25px;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

.col9 h4 {
    text-align: center;
    color: #EBEBEB;
}

.col10{
    padding-top: 1vw;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;    
  
}

#badge{
    padding-top: 1%;
    width: 50%;
}



.col10 h4 {
    text-align: center;
    padding-top: 2%;
    
}

.col11 {
    background-image: url(/images/sports.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 25px 25px 0;
    min-height: 70vh;
    padding-top: 2vw;
    padding-left: 5vw;
    
}

.col12{
    text-align: center;
    padding: 5%;
}

.col12a {
    padding-top: 5%; 
}
.col12b{
    padding-top:15%
}

.main-p {
    margin-top: 3%;
    margin-bottom: 2%;
    color: #9c0000;
    text-decoration: underline;
}

h5 {
    text-decoration: underline;
}

.updates {
    margin-left: 2%;
}



.map-responsive {
    text-align: center;

}

.map-responsive iframe {
    border-radius: 25px;
    height: 30vh;
    width: 30vw;

}


.contact-form .btn {
    background-color: #05540B;
    padding: 2%;
    width: 50%;
}

.booking-form {
    padding-top: 5%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.booking-form .btn {
    background-color: #05540B;
    padding: 2%;
    width: 25%;

}

.burger-img {
    border-radius: 0 25px 25px 0 !important;
    min-height: 70vh;
    object-fit: cover;
    padding: 0;
    ;
}



.card {
    background-color: #C4C4C4;
    min-height: 30vh;
    width: 15vw;
    text-align: center !important;
    border-radius: 25px;
    margin: 0 auto;

}


.card-button {
    background-color: #05540B;
    color: #EBEBEB;
    padding: 8px 8px 8px 8px;
    border-radius: 90px;

}

.card-header {
    background-color: #05540B;
    min-height: 5vh;
    border-radius: 25px 25px 0 0 !important;
}

.card-footer {
    background-color: #05540B;
    min-height: 5vh;
    border-radius: 0 0 25px 25px !important;
}

.top-row {
    padding-top: 10%;
}

.food-row {
    margin-left: 10%;
}

.menus {
    text-align: left;
}



.opening-heading {
    text-align: center;
    text-decoration: underline;

}

.opening-times {
    text-align: center;
    margin-top: 5vh;
}






footer {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #05540B;
    font-size: 2vh;
}

footer p {
    margin: 0px;
    color: white;
}

footer a {
    color: white;
}

#footer-div2 {
    text-align: right;
}





@media only screen and (max-device-width: 575px) and (-webkit-min-device-pixel-ratio: 2) {

    #footer-div1,
    #footer-div2 {
        text-align: center;
    }
}

@media only screen and (max-device-width: 765px) and (-webkit-min-device-pixel-ratio: 2) {

    .col5,
    .col8,
    .col11 {
        border-radius: 0 0 25px 25px !important;
        min-height: 30vh;
        margin-left: 3vw;
        width: 92%;
    }
}


@media only screen and (max-device-width: 575px) and (-webkit-min-device-pixel-ratio: 2) {

    .map-responsive iframe {
        border-radius: 25px;
        height: 15vh;
        width: 50vw;
    }
}

@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {

    .col9 h4 {
        font-size: 90%;
    }
}


@media only screen and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {

    .card {
        margin: 0 auto;
        width: 50vw;
    }
}