@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    font-family: 'Reem Kufi', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;

}

.btn {
    border: 0px;
    padding: 0px;
}

.navbar {
    font-size: 3vh;
    background-color: #05540B;
}


a.navbar-brand {
    font-size: 4vh;

}

a:hover {
    text-decoration: underline;
}

#side {
    background-color: rgba(33, 37, 41, 0.9);
    height: 100vh;
    width: 0vw;
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.5s ease-in-out;

}

#side a {
    display: block;
    padding: 5px;
    text-align: center;

}

a {
    border-top-width: 0px;
}

.bi-x {
    font-size: 50px;
}

#side-section {
    padding-top: 5vw;
}

body {
    background-color: #EBEBEB;
}


.col1 {
    background-color: #282727;
    min-height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;


}

.col2 {
    background-color: #EBEBEB;
    min-height: 70vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border-radius: 25px;
    padding: 5%;
}

.col3 {
    background-color: #EBEBEB;
    min-height: 70vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border-radius: 25px;
    padding: 0;

}

.col4 {
    padding-top: 5%;
    text-align: center;
}

.col4 h3 {

    text-decoration: underline;
}


.card {
    background-color: #C4C4C4;
    min-height: 40vh;
    text-align: center !important;
    border-radius: 25px;

}


.card-button {
    background-color: #05540B;
    color: #EBEBEB;
    padding: 8px 8px 8px 8px;
    border-radius: 90px;
   
}

.card-header {
    background-color: #05540B;
    min-height: 5vh;
    border-radius: 25px 25px 0 0 !important;
}

.card-footer {
    background-color: #05540B;
    min-height: 5vh;
    border-radius: 0 0 25px 25px !important;
}

.top-row {
    padding-top: 10%;
}

.food-row {
    margin-left: 10%;
}

.menus{
    text-align: left;
}

.burger-img {
    border-radius: 0 25px 25px 0 !important;
}

footer {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #05540B;
    font-size: 2vh;
}

footer p {
    margin: 0px;
    color: white;
}

footer a {
    color: white;
}

#footer-div2 {
    text-align: right;
}




@media only screen and (max-device-width: 575px) and (-webkit-min-device-pixel-ratio: 2) {

    #footer-div1,
    #footer-div2 {
        text-align: center;
    }
}

@media only screen and (max-device-width: 575px) and (-webkit-min-device-pixel-ratio: 2) {

    .burger-img {
        border-radius: 0 0 25px 25px !important;
    }
}
